.choice-container {
	display: flex;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1rem;
	border: 0.1rem solid #563d7c;
	background-color: #fff;
}
.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 0.4rem 0 #563d7c;
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.choice-prefix {
	padding: 1.5rem 2.5rem;
	background-color: #563d7c;
	color: #fff;
	margin: 0;
}

.choice-text {
	margin: 0;
	padding: 1.5rem;
	width: 100%;
}

.correct {
	background-color: #28a745;
}
.incorrect {
	background-color: #dc3545;
}

#hud {
	display: flex;
	justify-content: space-between;
}

.hud-prefix {
	text-align: center;
	font-size: 2rem;
}
.hud-main-text {
	text-align: center;
}
#progressBar {
	width: 20rem;
	height: 4rem;
	border: 0.2rem solid #563d7c;

	overflow: hidden;
}
#progressBarFull {
	height: 4.3rem;
	background-color: #563d7c;
	width: 0%;
}
