.choice-container {
	display: flex;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1rem;
	border: 0.1rem solid #563d7c;
	background-color: #fff;
}
.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 0.4rem 0 #563d7c;
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.choice-prefix {
	padding: 1.5rem 2.5rem;
	background-color: #563d7c;
	color: #fff;
	margin: 0;
}

.choice-text {
	margin: 0;
	padding: 1.5rem;
	width: 100%;
}
