body {
	font-family: Arial;
	font-size: 120%;
}

a {
	color: #563d7c;
	text-decoration: none;
	transition: color 0.1s;
}

a:hover {
	color: #8570a5;
}

.container a {
}
button {
	display: inline-block;
	margin: 5px;
	cursor: pointer;
	font-size: 100%;
	background-color: #563d7c;
	border-radius: 5px;
	padding: 2px 10px;
	color: white;
	border: 0;
	transition: background-color 0.1s;
}

button:hover {
	background-color: #8570a5;
}

.choices button {
	display: block;
}

input[type="text"] {
	font-size: 100%;
}

ol {
	padding-left: 0px;
	max-height: 400px;
	overflow: auto;
}

li {
	padding: 5px;
	list-style: decimal inside none;
}

li:nth-child(odd) {
	background-color: #f3edfc;
}

.wrapper {
	margin: 100px auto 0 auto;
	max-width: 600px;
}

.hide {
	display: none;
}

.start {
	text-align: center;
}

.scores {
	position: absolute;
	top: 10px;
	left: 10px;
}

.feedback {
	font-style: italic;
	font-size: 120%;
	margin-top: 20px;
	padding-top: 10px;
	color: gray;
	border-top: 2px solid #ccc;
}

.timer {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* ===== MY CUSTOM STYLES ===== */
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto;
}

/* .container * {
	width: 100%;
} */
.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

/* .home p {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 36px;
	margin-inline: 15%;
} */
/* BUTTON STYLE */

.btn {
	font-size: 1.8rem;
	padding: 1rem 0;
	width: 20rem;
	border: 0.1rem solid #563d7c;
	margin-bottom: 1rem;
	text-decoration: none;
	color: #563d7c;
	background-color: #fff;
	text-align: center;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 0.4rem 0 #563d7c;
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.btn[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}
